body{
    background: rgba(0, 0, 0, 0.5) url("../images/bodyBg.png") repeat;
}

.dropdown-item{
    color: rgba(255, 255, 255, 0.5);
}

.drumBox{
    border: 5px solid white;
}


.drum{
    border: 5px solid black;
}

.z{
    background: white url(./images/tom1.png);
    background-size: cover;
}

.x{
    background: white url(./images/tom2.png);
    background-size: cover;
}

.c{
    background: white url(./images/tom3.png);
    background-size: cover;
}

.v{
    background: white url(./images/tom4.png);
    background-size: cover;
}

.b{
    background: white url(./images/snare.png);
    background-size: cover;
}

.n{
    background: white url(./images/crash.png);
    background-size: cover;
}

.m{
    background: white url(./images/kick.png);
    background-size: cover;
}